@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    font-size: 20px;
    @media screen and (min-width: 800px) {
        font-size: 32px;
    }
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #DDDDDD;
}

@mixin flex(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    margin: auto;
    padding: 15px 25px;
    @media screen and (min-width: 800px) {
        padding: 30px 200px ;
    }

    &-title {
        text-align: center;

        font-size: 32px;
        padding: 10px;
        @media screen and (min-width: 800px) {
            font-size: 64px;
            padding: 20px;
        }
    }
    &-caption {
        padding: 10px;
        @media screen and (min-width: 800px) {
            padding: 20px;
        }
    }

   @include flex(); 
    
    &-form {
        @include flex();    
        text-align: center; 
        &-selected {
            width: 100%;
            height: auto;

            &-option {
                border-width: 1px;
                border: 5px solid black;
                padding: 2px;
                margin: 2px;
                width: auto;
                text-align: center;
                display: inline-block;
            }
        }
    }

    &-countries {
        ul {
            padding: 0;
        }
        &-selected {
            &-option {
                border-width: 1px;
                border: 1px solid #000;
                padding: 2px;
                margin: 2px;
                width: auto;
                text-align: center;
                display: block;
            }
        }
    }
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }